<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinalMóvilesTEAM"
        tools:targetApi="31">
        <activity
            android:name=".SellerActivity"
            android:exported="false" />
        <activity
            android:name=".RrepartidoresActivity"
            android:exported="false" />
        <activity
            android:name=".FormularioActivity"
            android:exported="false" />
        <activity
            android:name=".SeguimientoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".MetodoDePagoActivity"
            android:exported="false" />
        <activity
            android:name=".RepartidoresActivity"
            android:exported="false" />
        <activity
            android:name=".NuevaTarjetaActivity"
            android:exported="false" />
        <activity
            android:name=".PagoexitosoActivity"
            android:exported="false" />
        <activity
            android:name=".DetTiendaC"
            android:exported="false" />
        <activity
            android:name=".EstadisticasActivity"
            android:exported="false" />
        <activity
            android:name=".DetTiendas"
            android:exported="false" />
        <activity
            android:name=".DetVeterinaria"
            android:exported="false" />
        <activity
            android:name=".DetRestaurante"
            android:exported="false" />
        <activity
            android:name=".SubtotalProductoRestaurante"
            android:exported="false" />
        <activity
            android:name=".DetFarmacia"
            android:exported="false" />
        <activity
            android:name=".ListapedidosActivity"
            android:exported="false" />
        <activity
            android:name=".ListatiendasActivity"
            android:exported="false" />
        <activity
            android:name=".ListaRestaurantesActivity"
            android:exported="false" />
        <activity
            android:name=".ListausuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Menu_principalActivity"
            android:exported="false" />
        <activity
            android:name=".EnvioActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxFxw11aXTQwvzkVKOku5Dg5HsVf6KHgc" />

        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".ContiniuActivity"
            android:exported="false" />
        <activity
            android:name=".IngreseActivity"
            android:exported="false" />
        <activity
            android:name=".AyudaActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoRestauActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoFarmActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoTiendasActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoTiendaCActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoVeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProyectoFinalMóvilesTEAM.NoActionBar" />
    </application>

</manifest>